.checkout-page h1{
    text-align: center;
    color: blueviolet;
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkout-page{
    text-align: center;
}

.shipping {
    text-align: center;
    color: blueviolet;
   
 
    
}